@model SbdS.Models.RegisterViewModel
@{
    ViewBag.Title = "SbdS";
}


<div style="margin-top:100px">

    <div @*style="height: 6px; width: 100%;  height: 2px; left: -5px; position: absolute; top: 12px; width: 1148px; z-index: 1; " class="tinyText"*@>
        <div @*style="position: relative; width: 1148px;*@ ">
            <img src="~/Content/images/shapeimage_1.png" alt="" style="height: 6px; left: 0px; margin-top: 30px; position: absolute; top: 0px; width: 1149px; " />
        </div>
    </div>



   <div style="margin-left: 0px; position: relative; width: 100%; z-index: 5 ; " id="body_layer">

        <div @*style="height: 0px; line-height: 0px; " class="bumper"*@> </div>
        <div style="height: 204px; width: 183px;  height: 204px; left: 0px; position: absolute; top: -27px; width: 272px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/helter.jpg" alt="" style="border: none; height: 204px; width:  183px; " />
        </div>

       




        <div style="height: 225px; width: 300px;  height: 225px; left: 183px; position: absolute; top: -27px; width: 300px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/jakten.jpg" alt="" style="border: none; height: 225px; width: 300px; " />
        </div>



        <div style="height: 279px; width: 388px;  height: 279px; left: 306px; position: absolute; top: 198px; width: 388px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/barPic.jpg" alt="" style="border: none; height: 280px; width: 388px; " />

            >
        </div>



        <div style="height: 279px; width: 186px;  height: 279px; left: 181px; position: absolute; top: 198px; width: 186px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/handStand.jpg" alt="" style="border: none; height: 279px; width: 187px; " />
        </div>



        <div style="height: 300px; width: 183px;  height: 300px; left: 0px; position: absolute; top: 177px; width: 183px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/practice.jpg" alt="" style="border: none; height: 300px; width: 183px; " />
        </div>



        <div style="height: 225px; width: 400px;  height: 225px; left: 454px; position: absolute; top: -27px; width: 400px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/danceClass.jpg" alt="" style="border: none; height: 225px; width: 400px; " />
        </div>



        <div style="height: 226px; width: 328px;  height: 226px; left: 682px; position: absolute; top: -27px; width: 328px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/Iver12.jpg" alt="" style="border: none; height: 226px; width: 328px; " />
        </div>



        <div style="height: 279px; width: 372px;  height: 279px; left: 682px; position: absolute; top: 198px; width: 372px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <img src="~/Content/images/nyehelter.jpg" alt="" style="border: none; height: 279px; width: 372px; " />
        </div>



        <div style="height: 759px; width: 241px;  height: 759px; left: 930px; position: absolute; top: -27px; width: 241px; z-index: 1; " class="tinyText style_SkipStrokeSkipFillSkipOpacity">
            <div style="position: relative; width: 241px; ">
                <img src="~/Content/images/mandag.png" alt="&#10;&#10;&#10;&#10;&#10;    Nye kurs&#10;    starter&#10;    mandag 23.&#10;    januar&#10;    2017&#10;" style="height: 759px; left: 0px; position: absolute; top: 0px; width: 241px; " />
            </div>
        </div>



        <div style="height: 64px; width: 64px;  height: 64px; left: 952px; position: absolute; top: 414px; width: 64px; z-index: 1; " class="tinyText style_SkipStroke_2 stroke_0">
            <a href="http://instagram.com/skiensbds" title="http://instagram.com/skiensbds" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><img src="~/Content/images/instagram.jpg" alt="" style="border: none; height: 64px; width: 64px; " /></a>
        </div>



        <div style="height: 67px; width: 67px;  height: 67px; left: 1039px; position: absolute; top: 412px; width: 67px; z-index: 1; " class="tinyText style_SkipStroke_1">
            <a href="https://www.facebook.com/pages/SbdS-Skien-Ballett-og-Dansesenter/251458636200?fref=ts" title="https://www.facebook.com/pages/SbdS-Skien-Ballett-og-Dansesenter/251458636200?fref=ts" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><img src="~/Content/images/face.png" alt="" style="border: none; height: 67px; width: 67px; " /></a>
        </div>



        <div style="height: 300px; width: 212px;  height: 300px; left: 918px; position: absolute; top: -44px; width: 212px; z-index: 1; " class="tinyText style_SkipStroke_1">
           
            <img src="~/Content/images/test.png" alt="" style="border: none; height: 300px; width: 212px; " />
        </div>



        @*<div style="height: 5px; width: 571px;  height: 1px; left: 177px; position: absolute; top: 619px; width: 571px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 571px; ">
                <img src="~/Content/images/shapeimage_3.jpg" alt="" style="height: 5px; left: 0px; margin-top: -2px; position: absolute; top: 0px; width: 571px; " />
            </div>
        </div>*@



        <div style="height: 836px; width: 932px;  height: 836px; left: -2px; position: absolute; top: -58px; width: 932px; z-index: 1;opacity: 0.5; " class="tinyText style_SkipStroke_3" id="id2">
            <img src="~/Content/images/FullSizeRender.jpg" alt="" style="border: none; height: 836px; width: 932px; " />
        </div>


    </div>

</div>




    